# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# IDE
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Database files (if any)
*.db
*.sqlite